<section class="hero is-danger is-bold is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="column is-6 is-offset-3">
                <h3 class="title has-text-white has-text-centered"><%= dgettext("accounts", "Sign in")%></h3>
                <hr class="login-hr">
                <div class="box">
                    <%= if @changeset.action do %>
                    <div class="notification is-danger is-light">
                        <button class="delete"></button>
                        <p>Oops, something went wrong! Please check the errors below.</p>
                    </div>
                    <% end %>
                    <%= form_for @changeset, @action, [as: :user], fn f -> %>
                    <div class="field">
                        <div class="control">
                            <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "input is-large", type: "email", placeholder: dgettext("accounts", "E-Mail"), autofocus: "" %>
                        </div>
                        <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
                    </div>
                    <div class="field">
                        <div class="control">
                            <%= password_input f, :password,  class: "input is-large", type: "password", placeholder: dgettext("accounts", "Password") %>
                        </div>
                        <%= error_tag f, :password %>
                    </div>
                    <div class="field">
                        <input class="is-checkradio" id="exampleCheckbox" type="checkbox" name="exampleCheckbox"
                               checked="checked">
                        <label for="exampleCheckbox"><%= dgettext("accounts", "Remember me") %></label>
                    </div>
                    <div>
                        <%= submit dgettext("accounts", "Sign in"), class: "button is-block is-primary is-large is-fullwidth" %>
                    </div>
                    <% end %>
                    <p class="has-text-grey has-text-centered mt-4">
                        <%= link dgettext("accounts", "Sign up"), to: Routes.pow_registration_path(@conn, :new) %>
                        &nbsp;·&nbsp;
                        <a href="">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
