/* This file is for your main application css. */
/* @import "./phoenix.css"; */
@import "./phoenix_liveview.css";
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/bulma/bulma.sass";
.modal-card {
  overflow: auto;
}
.is-nowrap {
  white-space: nowrap;
}

.is-full-height {
  height: 100%;
}
@import "../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.min.css";
@import "../node_modules/trix/dist/trix.css";

.trix-button-group.trix-button-group--file-tools { display: none; }
/* .trix-button-group.trix-button-group--block-tools { display: none; } */
.trix-button-group.trix-button-group--history-tools { display: none; }
/* .trix-button--icon-link { display: none; } */