<%= if f = get_flash(@conn, :info) do %>
<p class="notification is-info is-light" role="alert"
   phx-click="lv:clear-flash"
   phx-value-key="info">
    <button class="delete"></button>
    <%= f %>
<% end %>
<%= if f = get_flash(@conn, :error) do %>
<p class="notification is-warning is-light" role="alert"
   phx-click="lv:clear-flash"
   phx-value-key="error">
    <button class="delete"></button>
    <%= f %></p>
<% end %>
<%= @inner_content %>