<section class="container section">
    <h1 class="title"><%= dgettext("accounts", "Edit profile") %></h1>

    <%= form_for @changeset, @action, [as: :user], fn f -> %>
    <%= if @changeset.action do %>
    <div class="notification is-danger">
        <button class="delete"></button>
        Oops, something went wrong! Please check the errors below.
    </div>
    <% end %>

    <div class="field">
        <%= label f, :family_name, class: "label" do dgettext("accounts", "Family Name") end %>
        <div class="control">
            <%= text_input f, :family_name, class: "input" %></div>
        <%= error_tag f, :family_name %>
    </div>
    <div class="field">
        <%= label f, :given_name, class: "label" do dgettext("accounts", "Given Name") end %>
        <div class="control">
            <%= text_input f, :given_name, class: "input" %></div>
        <%= error_tag f, :given_name %>
    </div>
    <div class="field">
        <%= label f, Pow.Ecto.Schema.user_id_field(User), class: "label" do dgettext("accounts", "E-Mail") end %>
        <div class="control">
            <%= text_input f, Pow.Ecto.Schema.user_id_field(User), class: "input" %></div>
        <%= error_tag f, Pow.Ecto.Schema.user_id_field(User) %>
    </div>
    <div class="field">
        <%= label f, :time_zone, class: "label" do dgettext("accounts", "Timezone") end %>
        <div class="control has-icons-left">
            <div class="select is-fullwidth"><%= select f, :time_zone, Tzdata.zone_list, class: "input" %></div>
            <%= Icon.mdi("mdi-map-clock-outline", "is-small is-left") %>
        </div>
        <%= error_tag f, :time_zone %>
    </div>
    <div class="field">
        <%= label f, :locale, class: "label" do dgettext("accounts", "Locale") end %>
        <div class="control has-icons-left">
            <div class="select is-fullwidth"><%= select f, :locale, CueLightLiteWeb.Cldr.available_locales() , class: "input" %></div>
            <%= Icon.mdi("mdi-earth", "is-small is-left") %>
        </div>
        <%= error_tag f, :locale %>
    </div>
    <div class="field">
        <%= label f, :password, class: "label" do dgettext("accounts", "New Password") end %>
        <div class="control">
            <%= password_input f, :password, class: "input" %></div>
        <%= error_tag f, :password %>
    </div>
    <div class="field">
        <%= label f, :password_confirmation, class: "label" do dgettext("accounts", "Password Confirmation") end %>
        <div class="control">
            <%= password_input f, :password_confirmation, class: "input" %></div>
        <%= error_tag f, :password_confirmation %>
    </div>

    <div class="field">
        <div class="control">
            <%= submit gettext("Update"),  class: "button is-success" %>
        </div>
    </div>
    <% end %>
</section>