<section class="container section">
    <h3 class="title has-text-white has-text-centered"><%= dgettext("accounts", "Sign up")%></h3>
    <hr class="login-hr">
    <div class="box">
        <%= if @changeset.action do %>
        <div class="notification is-danger is-light">
            <button class="delete"></button>
            <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
        <% end %>
        <%= form_for @changeset, @action, [as: :user], fn f -> %>
        <div class="field">
            <div class="control">
                <%= text_input f,  :family_name , class: "input is-large", placeholder: dgettext("accounts", "Family Name"), autofocus: "" %>
            </div>
            <%= error_tag f,  :family_name  %>
        </div>
        <div class="field">
            <div class="control">
                <%= text_input f,  :given_name , class: "input is-large", placeholder: dgettext("accounts", "Given Name"), autofocus: "" %>
            </div>
            <%= error_tag f,  :given_name  %>
        </div>
        <div class="field">
            <div class="control">
                <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "input is-large", type: "email", placeholder: dgettext("accounts", "E-Mail") %>
            </div>
            <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
        </div>
        <div class="field">
            <div class="control has-icons-left">
                <div class="select is-large is-fullwidth"><%= select f, :time_zone, Tzdata.zone_list, class: "input" %></div>
                <%= Icon.mdi("mdi-map-clock-outline", "is-small is-left") %>
            </div>
            <%= error_tag f, :time_zone %>
        </div>
        <div class="field">
            <div class="control has-icons-left">
                <div class="select is-large is-fullwidth"><%= select f, :locale, CueLightLiteWeb.Cldr.available_locales() , class: "input" %></div>
                <%= Icon.mdi("mdi-earth", "is-small is-left") %>
            </div>
            <%= error_tag f, :locale %>
        </div>
        <div class="field">
            <div class="control">
                <%= password_input f, :password,  class: "input is-large", type: "password", placeholder: dgettext("accounts", "Password") %>
            </div>
            <%= error_tag f, :password %>
        </div>
        <div class="field">
            <div class="control">
                <%= password_input f, :password_confirmation,  class: "input is-large", type: "password", placeholder: dgettext("accounts", "Password Confirmation") %>
            </div>
            <%= error_tag f, :password_confirmation %>
        </div>
        <div>
            <%= submit dgettext("accounts", "Sign Up"), class: "button is-block is-danger is-large is-fullwidth" %>
        </div>
        <% end %>
        <p class="has-text-grey has-text-centered mt-4">
            <%= link dgettext("accounts", "Sign in"), to: Routes.pow_session_path(@conn, :new) %> &nbsp;·&nbsp;
            <a href="">Forgot Password</a> &nbsp;·&nbsp;
            <a href="">Need Help?</a>
        </p>
    </div>
</section>