<section class="section">

    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><%= link dgettext("events", "Events"), to: Routes.event_index_path(@socket, :index) %></li>
            <li><%= link @event.title, to: Routes.event_index_path(@socket, :edit, @event) %></li>
            <li class="is-active"><a href="#" aria-current="page"><%= dgettext("rundowns", "Rundowns") %></a></li>
        </ul>
    </nav>

    <h1 class="title"><%= dgettext("rundowns", "Rundowns") %></h1>

    <%= if @live_action in [:new, :edit] do %>
    <%= live_modal_card @socket, CueLightLiteWeb.RundownLive.FormComponent,
    id: @rundown.id || :new,
    title: @page_title,
    action: @live_action,
    event: @event,
    rundown: @rundown,
    time_zone: @time_zone,
    return_to: Routes.rundown_index_path(@socket, :index, @event) %>
    <% end %>

    <table class="table is-bordered is-striped is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><%= dgettext("rundowns", "Title") %></th>
            <th><%= dgettext("rundowns", "Start") %></th>
            <th><%= dgettext("rundowns", "Finish") %></th>
        </tr>
        </thead>
        <tbody id="rundowns">
        <%= for rundown <- @rundowns do %>
        <%= live_component @socket, CueLightLiteWeb.RundownLive.RowComponent, event_id: @event.id, event: @event, id: rundown.id, rundown: rundown, time_zone: @time_zone %>
        <% end %>
        </tbody>
    </table>

    <span><%= live_patch dgettext("rundowns", "New Rundown"), to: Routes.rundown_index_path(@socket, :new, @event), class: "button is-primary" %></span>

</section>