<h1>Show Rundown</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal_card @socket, CueLightLiteWeb.RundownLive.FormComponent,
    id: @rundown.id,
    title: @page_title,
    action: @live_action,
    event: @event,
    rundown: @rundown,
    time_zone: @time_zone,
    return_to: Routes.rundown_show_path(@socket, :show, @rundown) %>
<% end %>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @rundown.title %>
  </li>

  <li>
    <strong>Start:</strong>
    <%= @rundown.start %>
  </li>

  <li>
    <strong>End:</strong>
    <%= @rundown.finish %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.rundown_show_path(@socket, :edit, @rundown), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.rundown_index_path(@socket, :index, @event) %></span>
